*{margin: 0;padding:0;box-sizing: border-box}
*::before{margin: 0;padding:0}
*::after{margin: 0;padding:0}
ul,ol{list-style: none}
a{color:inherit;text-decoration: none;}
body{font-size: 12px;line-height: 1.5;}

.body-container{
    display: flex;
    min-height: 100vh;
}
.body-container main{
    background-color: #eee;
}
.body-container aside{
    width: 200px;
}
.songList-container{
    min-height: 60%;
}
.body-container aside .new-song{
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid #eee;
}
.body-container aside .song-list li{
    padding: 10px;
}
.body-container aside .song-list li.active{
    background-color: #eee;
}
.upload-dragger{
    cursor: pointer;
}
.upload-area{
    margin-top: 50px;
    padding: 20px 20px;
    width: 200px;
    border: 2px dashed #999;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.upload-area p {
    font-size: 12px;
    color: #999;
    padding-top: 10px;
}
.body-container main{
    flex-grow: 1;
}
.new-song.active{
    background-color: #eee;
}
@keyframes loading{
    0% {
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
.site-loading{
    visibility:hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.site-loading.active{
    visibility: visible;
}
.site-loading::before{
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid green;
    border-left-color: transparent;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 50%;
    animation: loading 1s infinite linear ;
}
.site-loading::after{
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 10px solid pink;
    border-right-color: transparent;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 50%;
    animation: loading 1s infinite linear reverse;
}



.song-list-warpper {
    display: flex;
}
.song-list-warpper .playlists{
    min-width: 200px;
    text-align: center;
}
.song-list-warpper .playlists div {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-list-warpper .playlists ol{
    border:1px solid #eee;
}
.song-list-warpper .playlists ol li{
    padding: 6px;
}