/* red: #D43C33 */
/* grey: #888 */
body{
    font-size: 15px;
    color: #fff;
    background: #171421;
  }
  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
  .sectionTitle{
    font-weight: 600;
    border-left: 2px solid #fff;
    font-size: 18px;
    line-height: 1;
    padding-left: 8px;
    margin: 20px 0 8px;
  }
  .sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #171421;
  }
  .loading{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .page-3 .loading{
    display: none;
  }
  .page-3 .loading.active{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  section.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #171421;
    padding: 17px 10px;
  }
  section.topbar .logo>svg{
    width: 142px;height: 25px;
    vertical-align: top;
  }
  section.topbar .logo h3{
    font-weight: 600;
  }
  section.topbar > a{
    color: white;
    display: inline-block;
    padding: 5px 11px;
    line-height: 20px;
    position: relative;
  }
  section.topbar > a::after{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 200%;
    height: 200%;
    border: 1px solid white;
    border-radius: 50px;
    transform: scale(0.5);
    transform-origin: 0 0;
  }
  
  /* tabs-nav */
  .tabs-nav{
    display: flex;
    /* border-bottom: 1px solid #CCCCCC; */
  }
  .tabs-nav>li{
    width: 33.333333%;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabs-nav>li>.text{
    padding: 10px 5px;
    position: relative;
    top: 1px;
  }
  .tabs-nav >li.active{
    color: #fff;
  }
  .tabs-nav >li.active>.text{ 
  }
  .tabs-nav >li.active>.text::after{
    content: '';
    position: absolute;
    height: 2px;
    background: #fff;
    bottom: 1px;
    left: 0;
    width: 100%;
  }
  .tab-content{
    margin-top: 105px;
  }
  .tab-content > li{
    display: none;
  }
  .tab-content > li.active{
    display: block;
  }
  .noCollapse::before{
    content:'';
    display: table;
  }
  .noCollapse::after{
    content:'';
    display: table;
  }
  
  section.playlists > ol.songs,
  section.singers > ol.singers{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    font-size: 13px;
    margin: 18px 10px 0;
  }
  /* 隐藏滚动条 */
  section.playlists > ol.songs::-webkit-scrollbar,
  section.singers > ol.singers::-webkit-scrollbar{ width: 0 !important }
  section.playlists > ol.songs,
  section.singers > ol.singers{ -ms-overflow-style: none; }
  section.playlists > ol.songs,
  section.singers > ol.singers{ overflow: -moz-scrollbars-none; }

  section.playlists > ol.songs a {
    width: 27.8%;
    margin: 8px 10px 0 0;
    flex-shrink: 0;
  }
  section.singers > ol.singers a {
    width: 45%;
    margin: 8px 10px 0 0;
    flex-shrink: 0;
  }
  section.playlists > ol.songs > li p,
  section.singers > ol.singers > li p{            
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 18px;
    height: 36px;
    padding: 0 6px;
  }
  section.playlists  ol.songs a li p,
  section.singers  ol.singers a li p{
    padding-top: 24px;
    color: #D9DADE;
    font-weight: 600;
    /* text-align: center; */
  }
  section.playlists > ol.songs a li img,
  section.singers > ol.singers a li img{
    width: 100%;
    height: 100%;
  }
  section.playlists  ol.songs a li .cover,
  section.singers  ol.singers a li .cover{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
  }
  section.singers  ol.singers a li .cover{
    width: 100%;
    height: 26vw;
    background-color: #D43C33;
    background: #D43C33  no-repeat center; 
    background-size: cover;
  }
  


  section.songs > .list {
    margin-top: 18px;
  }
  section.songs > .list > li > h3{
    font-size: 14px;
    color: #D9DADE;
    font-weight: 600;
  }
  section.songs > .list > li > p{
    font-size: 12px;
    color: #888;
  }
  section.songs > .list > li{
    position: relative;
    margin-left: 10px;
    padding-bottom: 6px;
    padding-top: 5px;
    border-bottom: 1px solid #1A1B33;
  }
  section.songs > .list .playButton{
    position: absolute;
    right:8px;
    top: 50%;
    transform: translateY(-50%);
  }
  section.songs > .list .icon-play{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #AAA;
  }
  section.songs > .list .icon-sq{
    fill: #FE672E;
  }
  section.art{
    padding-top: 38px;
    padding-bottom: 18px;
    /* background: transparent url(//i.loli.net/2017/08/25/599f862b9c98d.png) no-repeat center; */
    background-size: cover;
    text-align: center;
  }
  section.art svg{
    width: 230px;
    height: 44px;
  }
  section.art .link-wrapper > a{
    display: inline-block;
    border: 1px solid;
    line-height: 40px;
    font-size: 16px;
    padding: 0 19px;
    border-radius: 20px;
    color:#D43C33;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  section.art .copyright{
    font-size: 12px;
    color: #888;
    transform: scale(.75);
  }

  .page-3 .input-wrapper{
    display: flex;
    margin: 20px 0;
    justify-content: center;
  }
  .page-3 .input-wrapper .wrapper{
    display: inline-block;
    width: 80%;
    position: relative;
  }
  .page-3 .input-wrapper  .icon{
    fill:#666;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .page-3 .input-wrapper  .icon-cancel{
    fill:#666;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 10px;
    right:16px;
  }
  .page-3 .input-wrapper input{
    width: 100%;
    padding:10px;
    padding-left: 3em;
    border:1px solid #eee;
    border-radius: 999px;
    outline: none;
    color:#999;
  }
  .page-3 .input-wrapper input:focus{
    /* border: 1px solid #D43C33; */
    color:#333;
  }

  .page-3 .hot-search-wrapper,
  .page-3 .history-search-wrapper{
    padding: 3vw 6vw;

  }
  .page-3 .hot-search-wrapper span,
  .page-3 .history-search-wrapper span{
    font-size: 12px;
  }
  .page-3 .hot-search-wrapper .search-tags,
  .page-3 .history-search-wrapper .search-tags{
    display: flex;
    flex-wrap: wrap;
  }
  .search-tag{
    flex-shrink: 0;
    border: 1px solid rgba(217,48,48,.8);
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px 10px;
    font-size: 12px;
    border-radius:9999px;
    background-color: rgba(217,48,48,.8);
  }
  
  .page-3 .history-search-wrapper{

  }


  .page-3 > #searchResult {
    margin-top: 18px;
  }
  .page-3 > #searchResult > li > h3{
    /* font-size: 17px; */
    font-weight: 600;
    font-size: 14px;
  }
  .page-3 > #searchResult > li > p{
    font-size: 12px;
    color: #888;
  }
  .page-3 > #searchResult > li{
    position: relative;
    margin-left: 10px;
    padding-bottom: 6px;
    padding-top: 5px;
    margin-right: 10px;
    /* border-bottom: 1px solid #E2E2E3; */
  }
  .page-3 > #searchResult .playButton{
    position: absolute;
    right:8px;
    top: 50%;
    transform: translateY(-50%);
  }
  .page-3 > #searchResult .icon-play{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #AAA;
  }
  .page-3 > #searchResult .icon-sq{
    fill: #FE672E;
  }
  .page-3 > #searchResult .playlist-li h3,
  .page-3 > #searchResult .singer-li h3{
    font-weight: 600;
    font-size: 13px;
    padding-left: 18px;
  }
  .page-3 > #searchResult .playlist-li,
  .page-3 > #searchResult .singer-li{
    display: flex;
    border-radius: 15px;
    margin-bottom: 8px;
    padding: 10px 16px;
    background-color: #25263E;
  }
  .page-3 > #searchResult .playlist-li img{
    width: 50px;
    height: 50px;
  }
  .page-3 > #searchResult .singer-li img{
    width: 32vw;
    height: 24vw;
  }
  .page-3 > #searchResult h3.title{
    margin-left: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  #clearHistorySearch {
    font-size: 12px;
    margin-top: 14px;
  }
  #clearHistorySearch .icon{
    width: 1.6em;
    height: 1.6em;
    vertical-align: -0.15em;
    fill: #ddd;
    overflow: hidden;
  }