body{
    font-size: 15px;
    background: white;
    color:#333;
}
.sumary-wrapper{
    width: 100%;
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}
.sumary-wrapper .blurbg{
    height: 100%;
    width: 100%;
    filter: blur(20px) grayscale(10%);
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    background: transparent no-repeat center;
	background-size: cover;
}
.sumary-wrapper .cover{
    width: 34vw;
    height: 34vw;
    position: relative;
}
.sumary-wrapper .cover::before{
    content: '';
    display: block;
    width: 40px;
    height: 20px;
    background-color: rgba(217,48,48,.8);
    position: absolute;
    top: 10px;
    left: -5px;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
}
.sumary-wrapper .cover::after{
    content: '歌单';
    font-size: 12px;
    color:#fff;
    display: block;
    width: 40px;
    height: 20px;
    position: absolute;
    top: 11px;
    left: 2px;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
}
.sumary-wrapper .cover img{
    width: 100%;
}
.sumary-wrapper .playlist-name{
    padding: 20px;
    font-size: 16px;
}
.sumary-wrapper .playlist-name p {
    font-size: 17px;
    color: #fff;
}
.info{
    width: 100%;
    padding: 10px;
}
.info .tags{
    display: flex;
}
.info .tags .tag-list{
    display: flex;
}
.info .tags .tag-list .tag{
    border: 1px solid #eee;
    margin-right: 10px;
    padding: 1px 8px;
    font-size: 12px;
    border-radius:9999px;
}
.info .summary{
    margin-top: 20px;
    margin-bottom: 10px;
}
.info .summary p {
    display: inline-block;
    color:#333;
}
section.songs{}
  section.songs > .list {
    margin-top: 18px;
  }
  section.songs > .list > li > h3{
    font-size: 17px;
  }
  section.songs > .list > li > p{
    font-size: 12px;
    color: #888;
  }
  section.songs > .list > li{
    position: relative;
    margin-left: 10px;
    padding-bottom: 6px;
    padding-top: 5px;
    border-bottom: 1px solid #E2E2E3;
  }
  section.songs > .list .playButton{
    position: absolute;
    right:8px;
    top: 50%;
    transform: translateY(-50%);
  }
  section.songs > .list .icon-play{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    fill: #AAA;
  }
  section.songs > .list .icon-sq{
    fill: #FE672E;
  }
  .sectionTitle{
    border-left: 2px solid #D43C33;
    font-size: 17px;
    line-height: 1;
    padding-left: 8px;
    margin: 20px 0 8px;
  }
  .footer{
      min-height: 60px;
      bottom: 0;
      margin-bottom: 60px;
  }
  section.songs > .list span{
    text-align: center;
    font-size: 12px;
    color: #999;
    padding-left: 10px;
  }

  .comments-wrapper{
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center; 
      background-color: rgba(255, 255, 255, 0.74);   
  }
  .comments-wrapper .comment-input{
      background-color: #fff;
      width: 80%;
      min-height: 30px;
      max-height: 300px;  
      border: 1px solid #888;
      border-radius: 18px;
      margin: 10px 0;
      overflow-x: hidden;  
        overflow-y: auto;  
        outline: none;
        padding: 5px 14px;
        color: #333;
        font-size: 12px;
  }
  .comments-wrapper .submit-comment{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-left: 10px;
      position: relative;
  }
  .comments-wrapper .submit-comment .icon{
      fill: #888;
      width: 1.6em;
      height: 1.6em;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
  section.comments ol.list {
      margin-top: 18px;
  }
  section.comments ol.list li{
    padding-bottom: 6px;
    padding-top: 5px;
    display: flex;
  }
  
  section.comments ol.list li .avtar{
      display: flex;
      width: 36px;
      justify-content: center;
  }
  section.comments ol.list li .avtar img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ60UuL3SsOU8JDuwRw_P3j8vX77FE7X2HYEttjcWzKprh-8Tk2nQ) no-repeat center center;
      background-size: cover;
  }
  section.comments ol.list li .comment-detail{
    padding-left: 8px;
    padding-bottom: 8px;
    flex: 1;
    border-bottom: 1px solid #E2E2E3;
  }
  section.comments ol.list li .comment-detail .comment-name{
    font-size: 14px;
    color: #666;
  }
  section.comments ol.list li .comment-detail .comment-content{
    padding-right: 10px;
    color: #333;
    font-size: 15px;
    line-height: 22px;
    margin-top: 5px;
  }
  